.main {
  margin: 20px;
  width: 90vw;
  height: 31.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgb(227, 223, 212), rgb(206, 202, 201));
  border-radius: 0.6em;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}