body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'morseCode';
  src: local('morseCode'), url("./assets/fonts/morseCode.ttf") format('TrueType');
}

@font-face {
  font-family: 'morseCode2';
  src: local('morseCode2'), url("./assets/fonts/morseCode2.ttf") format('TrueType');
}